[Unit]
Description=Intel RealSense Web Visualizer
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/realsense-visualizer
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
