[Unit]
Description=Python App
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/app.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
